{% extends '_base.html' %}
{% block content %}
  <form method="post" class="narrow-form" action="">
    <h2 class="form-signin-heading">Creating a new book</h2>
    <ul class="text-danger">
      {% for f, errors in form.errors.iteritems() %}
        {% for e in errors %}
          <li>{{ e }}</li>
        {% endfor %}
      {% endfor %}
    </ul>

    {#    {% if form.errors %}#}
    {#      <p class="bg-danger">{{ form.title.errors[0] }}</p>#}
    {#    {% endif %}#}
    {{ form.csrf_token }}
    <div class="form-group">
      <label for="inputTitle">Book title</label>
      <input type="text" name="title" id="inputTitle" class="form-control" value="{{ form.title.data or '' }}"
             placeholder="" required autofocus>
    </div>
    <div class="form-group">
      <label>Authors</label>

      <p class="text-muted js-no-authors">No authors added yet</p>
      <ul class="js-authors authors">
      </ul>

      <div class="form-inline">
        <input type="text" class="form-control" placeholder="Type in author's name">

        <div class="pull-right">
          <a class="btn js-add-author">Add</a>
        </div>
      </div>

    </div>
    <button class="btn btn-primary btn-lg" type="submit">Create</button>
  </form>


  <!-- Modal -->
  <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Selecting author</h4>
        </div>
        <div class="modal-body">
          <p class="text-info">Author(s) with same name already exist. Select if it is the same person, otherwise create
            a new one.</p>

          <div class="authors"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default js-select">Select</button>
          <button type="button" class="btn btn-primary js-new">Create new</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
